*{
    outline-style: solid;
    outline-width: thin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
}

div.outer-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.outer-container > .column.left{
    grid-column: 1;
    background-color: red;
    z-index: 2;
}

.navbar > .hamburguer.button{
    display: none;
}

.hamburguer.button > .bar1, .hamburguer.button > .bar2, .hamburguer.button > .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px;
    transition: 0.8s;
}

.outer-container > .column.right{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    z-index: 1;
}

.column.right > .row.top.navbar{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    transition: 0.8s;
}

.navbar > .navbar.right{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: green;
}

.navbar.right > .top{
    flex: 1;
    background-color: springgreen;
}

.navbar.right > .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1.5;
    background-color: cornflowerblue;
}

.navbar.bottom > img{
    height: 60px;
    border-radius: 50%;
    outline-style: solid;
    margin-left: 20px;
    margin-right: 10px;
}

.navbar.bottom span{
    display: block;
    font-size: 16px;
}

.navbar.bottom > p{
    font-size: 24px;
    margin-right: auto;
    font-weight: 900;
}

.navbar.bottom > div.buttons{
    margin-right: 20px;
}

.column.right > .row.bottom.main{
    flex: 1;
    background-color: yellow;
    display: flex;
    transition: 0.7s;
}

.row.bottom.main > .column.left{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 3;
    margin-top: 3%;
}

.projects-title > p{
    font-size: 22px;
    margin: 0 0 0 10px;
}

.column.left > .projects.outer{
    display: flex;
    flex: 13;
    background-color: crimson;
}

.projects.outer > .projects.inner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex: 1;
    background-color: teal;
    margin: 10px;
    gap: 10px;
    border-radius: 10px;
}

.projects > .project{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: skyblue;
}

.project > .top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 3;
    font-size: 16px;
}

.project > .top span{
    display: block;
    background-color: tomato;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}

.project > .top > p{
    margin: 10px;
    max-width: 70%;
    cursor: pointer;
}

.project > .bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}

.project > .bottom > img{
    height: 30px;
    filter: invert(1);
    margin: 10px 0;
    cursor: pointer;
}

.project > .bottom > img:hover{
    transform: scale(1.1);
}

.project > .bottom > img:last-of-type{
    margin-right: 3%;
}

.row.bottom.main > .column.right{
    display: flex;
    background-color: black;
    flex: 1;
    flex-direction: column;
    margin-top: 3%;
}

.row.top.announcements, .row.bottom.trending{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: sandybrown;
}

.announcements > .announcements-title, .trending > .trending-title, .column.left > .projects-title{
    flex: 0;
    display: flex;
    align-items: flex-end;
}

.announcements-title > p, .trending-title > p, .projects-title > p{
    margin: 0 0 0 10px;
    font-size: 22px;
    font-weight: 900;
}

.announcements > .announcements.outer, .trending > .trending.outer{
    display: flex;
    flex: 6;
}

.announcements.inner, .trending.inner{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: slategrey;
    border-radius: 10px;
    margin: 10px;
}

.announcements.inner > .wrapper, .trending.inner > .wrapper{
    flex:1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: aqua;
}

.wrapper > .announcement, .wrapper > .trending{
    display: flex;
    flex: 1;
    background-color: tomato;
    font-size: 13px;
}

.wrapper > .announcement > p{
    margin: 10px;
    cursor: pointer;
    max-width: 70%;
}

.wrapper > .trending p{
    margin: 0 10px;
    max-width: 70%;
}

.trending > .left img{
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    outline-style: solid;
    background-color: thistle;
    cursor: pointer;
}

.trending > .left img:hover{
    transform: scale(1.03);
}

.wrapper > .announcement span, .wrapper > .trending span{
    display: block;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
    background-color: red;
    cursor: pointer;
}

.wrapper > .trending > .left{
    display: flex;
    align-items: center;
}

.wrapper > .trending > .right{
    display: flex;
    flex: 1;
    align-items: center;
}

.row.bottom.trending{
    background-color: seagreen;
}

@media (max-width: 1000px){
    .outer-container > .column.left{
        position: absolute;
        height: 100%;
        width: 0;
        transition-duration: 0.2s;
    }
    .outer-container > .column.right{
        grid-column: 1 / -1;
        grid-row: 1;
    }
    .navbar > .hamburguer.button{
        display: inline-block;
        cursor: pointer;
        transition-duration: 0.2s;
    }
    .column.right > .row.bottom.main{
        flex-direction: column-reverse;
    }
    .projects.outer > .projects.inner{

        grid-template-columns: 1fr;
    }
    .row.bottom.trending{
        flex-direction: column;
    }
    .outer-container > .column.left.show-sidebar{
        width: calc(100% - 47px);
    }
    .move-hamburguer{
        margin-left: calc(100% - 47px);
    }
    .blur{
        filter: blur(5px);
    }
    .increase-index{
        z-index: 1;
    }
}

/* Took the following from https://www.w3schools.com/howto/howto_css_menu_icon.asp. Made sure to understand how everything works. */

/* Rotate first bar */
.hamburguer.button.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
  /* Fade out the second bar */
.hamburguer.button.change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
.hamburguer.button.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

